{% extends "core/base.html" %}

{% block title %}Shift Generator{% endblock %}

{% block style %}
.form-control {
    border: 1px solid black;
    border-radius: 5px;
    height: 200px;
    width: 100%;
}
{% endblock %}

{% block content %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<div class="mt-6 mb-6 px-6 py-12 bg-gray-100 rounded-xl">

{% for msg in messages %}
{% if msg.tags == 'error' %}
<div class="px-6 py-2 mb-2 text-sm text-center bg-red-300 rounded-xl text-red-600 text-l font-bold">
    {{ msg }}
</div>
{% endif %}
{% if msg.tags == 'success' %}
<div class="px-6 py-2 mb-2 text-sm text-center bg-green-500 rounded-xl opacity-50 text-white-100 text-l font-bold">
    {{ msg }}
</div>
{% endif %}
{% if msg.tags == 'info' %}
<div class="px-6 py-2 mb-2 text-sm text-center bg-yellow-300 rounded-xl opacity-40 text-white-100 text-l font-bold">
    {{ msg }}
</div>
{% endif %}
{% endfor %}

<h1 class="mb-6 mt-6 text-4xl font-bold text-center text-sky-950">Templates</h1>
<hr class="mb-6">
<div class="flex flex-wrap justify-center">
    <div class="w-full md:w-1/2 lg:w-1/3 xl:w-1/4 px-2 mb-4">
        <div class="bg-white rounded-xl shadow-lg">
            <div class="px-6 py-4">
                <div class="font-bold text-xl mb-2">Lorem Ipsum</div>
                <p class="text-gray-700 text-base">
                    Lorem Ipsum
                </p>
            </div>
            <div class="px-6 pt-4 pb-2">
                <a href="#" class="inline-block bg-sky-950 hover:bg-sky-850 text-white font-bold py-2 px-4 rounded-xl">Use</a>
                <a href="#" class="inline-block bg-red-950 hover:bg-red-850 text-white font-bold py-2 px-4 rounded-xl">Delete</a>
            </div>
        </div>
    </div>
</div>
<hr class="mb-6">
<h1 class="mb-6 mt-6 text-4xl font-bold text-center text-sky-950">Parameters</h1>
<hr class="mb-6">
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4">
    <div><input type="checkbox" class="form-checkbox h-5 w-5 text-sky-950 ml-2" ><span class="ml-2 text-sky-950">Lorem Ipsum</span></div>
    <div><input type="checkbox" class="form-checkbox h-5 w-5 text-sky-950 ml-2" ><span class="ml-2 text-sky-950">Lorem Ipsum</span></div>
    <div><input type="checkbox" class="form-checkbox h-5 w-5 text-sky-950 ml-2" ><span class="ml-2 text-sky-950">Lorem Ipsum</span></div>
    <div><input type="checkbox" class="form-checkbox h-5 w-5 text-sky-950 ml-2" ><span class="ml-2 text-sky-950">Lorem Ipsum</span></div>
    <div><input type="checkbox" class="form-checkbox h-5 w-5 text-sky-950 ml-2" ><span class="ml-2 text-sky-950">Lorem Ipsum</span></div>
    <div><input type="checkbox" class="form-checkbox h-5 w-5 text-sky-950 ml-2" ><span class="ml-2 text-sky-950">Lorem Ipsum</span></div>
    <div><input type="checkbox" class="form-checkbox h-5 w-5 text-sky-950 ml-2" ><span class="ml-2 text-sky-950">Lorem Ipsum</span></div>
    <div><input type="checkbox" class="form-checkbox h-5 w-5 text-sky-950 ml-2" ><span class="ml-2 text-sky-950">Lorem Ipsum</span></div>
</div>
<div class="mt-6 mb-6 px-6 py-12 bg-gray-100 rounded-xl text-center">
    <form id="select-employee-form" method="POST">
        {% csrf_token %}
        <div class="flex">
            <div class="w-1/2 p-2 m-4">
              <label for="id_available_employees" class="block text-sm font-medium text-gray-700">Available Employees</label>
              {{ form.available_employees }}
            </div>
            <div class="w-1/2 p-2 m-4">
              <label for="id_selected_employees" class="block text-sm font-medium text-gray-700">Selected Employees</label>
              {{ form.selected_employees }}
            </div>
          </div>
          <div>
            <label>
              <input type="radio" name="mode" value="ava" required="true" checked>
              Availablity
            </label>
            <label>
              <input type="radio" name="mode" value="com", disabled>
              Comming soon...
            </label>
          </div>
            <button type="submit" class="inline-block bg-sky-950 hover:bg-sky-850 text-white font-bold py-2 px-4 rounded-xl">Add Template</button>
            <button type="submit" class="inline-block bg-sky-950 hover:bg-sky-850 text-white font-bold py-2 px-4 rounded-xl">Generate</button>
      </form>
</div>
</div>
<script>
  $(document).ready(function() {
    // Get the available employees and selected employees fields
    var availableEmployees = $('#id_available_employees');
    var selectedEmployees = $('#id_selected_employees');
  
    // Move selected employees to the selected employees field
    availableEmployees.change(function() {
      availableEmployees.find('option:selected').appendTo(selectedEmployees);
    });
  
    // Move available employees to the available employees field
    selectedEmployees.change(function() {
      selectedEmployees.find('option:selected').appendTo(availableEmployees);
    });
  
    // Make available employees not required
    availableEmployees.prop('required', false);
    selectedEmployees.prop('required', true);

  });
  </script>
{% endblock %}

{% block script %}
{% endblock %}