{% extends "./base.html" %}

{% block title %}BG tets{% endblock %}

{% block style %}
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Hide horizontal scrollbar */
    perspective: 1px;
    perspective-origin: 50% 50%;
    background: rgb(180,83,9);
    background: linear-gradient(90deg, rgba(180,83,9,1) 13%, rgba(153,27,45,1) 100%);
}

.slider-thumb::before {
    position: absolute;
    content: "";
    left: 30%;
    top: 20%;
    width: 450px;
    height: 450px;
    background: #17141d;
    border-radius: 62% 47% 82% 35% / 45% 45% 80% 66%;
    will-change: border-radius, transform, opacity;
    animation: sliderShape 5s linear infinite;
    display: block;
    z-index: -1;
    -webkit-animation: sliderShape 5s linear infinite;
    transform-origin: center center;
    transform: translateZ(-1px) scale(2);
}

@keyframes sliderShape {
    0%, 100% {
        border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
        transform: translate3d(0, 0, 0) rotateZ(0.01deg);
    }
    34% {
        border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
        transform: translate3d(0, 5px, 0) rotateZ(0.01deg);
    }
    50% {
        transform: translate3d(0, 0, 0) rotateZ(0.01deg);
    }
    67% {
        border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
        transform: translate3d(0, -3px, 0) rotateZ(0.01deg);
    }
}

.mainView {
    height: 50vh;
    text-align: center;
    color: white;
    z-index: 1;
}
.panels {
    margin-top: 10vh;
    width: 100%
}


{% endblock %}

{% block content %}


    <div class="slider-thumb"></div>
<div class="mainView">
        <h1>Hello World</h1>
</div>
<div class="panels">
    <div class="divide-y-2 divide-slate-950">
        <div class="flex">
            <div class="w-3/5 bg-slate-950 p-4">
            </div>
            <div class="w-2/5 bg-slate-950 p-4 opacity-20">
            </div>
          </div>
                
          <div class="divide-y-2 divide-slate-950">
            <div class="flex">
                <div class="w-2/5 bg-slate-950 p-4 opacity-20">
                </div>
                <div class="w-3/5 bg-slate-950 p-4">
                </div>

              </div>
        <div class="divide-y-2 divide-slate-950">
            <div class="flex">
                <div class="w-3/5 bg-slate-950 p-4">
                </div>
                <div class="w-2/5 bg-slate-950 p-4 opacity-20">
                </div>
              </div>
      </div>
</div>

<div class="bg-red-500">
    aaaa
</div>

{% endblock %}