{% extends "./base.html" %}

{% block title %}Home{% endblock %}

{% block style %}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-left: 20%;
  width: 60%;
}

.card {
  position: relative;
  max-width: 100%;
  overflow: hidden;
  background-color: #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-7px);
}

.card img {
  max-width: 100%;
  vertical-align: middle;
}

.card-content {
  padding: 20px;
}

.card-title {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.card-description {
  font-size: 1rem;
  color: #333;
}
{% endblock %}


{% block content %}
<h1 class="header text-sky-200 text-5xl font-bold">🐔 Chicken Farming Software</h1>
<p class="header text-sky-200 text-2xl font-bold">The only software you need to manage your chicken farm.</p>
<hr style="width: 60%; margin-left: 20%; margin-top: 20px; margin-bottom: 20px;">
<div class="grid">
  <div class="card">
      <img src="https://i.imgur.com/i40vq4T.jpg" alt="Card 1">
      <div class="card-content">
          <div class="card-title">📈 Make Your Chicks Make You Money!</div>
          <p class="card-description">
              We've cracked the code to turn your feathered friends into financial featherweights. Our cutting-edge software is the 'egg'cellent companion for modern chicken farmers who mean business.
          </p>
      </div>
  </div>
  <div class="card">
      <img src="https://i.imgur.com/2MvJRhC.png" alt="Card 2">
      <div class="card-content">
          <div class="card-title">🐣 Funny Farm, Serious Profits</div>
          <p class="card-description">
              Ready to turn your poultry into profits? Join the 'egg-citing' revolution today and watch your farm 'hatch' success.
          </p>
      </div>
  </div>
  <div class="card">
      <img src="https://i.imgur.com/AfmXfoc.png" alt="Card 3">
      <div class="card-content">
          <div class="card-title">🐓 Chick-Chick, Hooray!</div>
          <p class="card-description">
              Our software is so user-friendly, even your grandpa's favorite rooster could use it. Say goodbye to manual record-keeping and hello to hassle-free hen house management.
          </p>
      </div>
  </div>
</div>
<hr style="width: 60%; margin-left: 20%; margin-top: 20px; margin-bottom: 20px;">
{% if user.is_authenticated %}
  <h1 class="header text-sky-200 text-5xl font-bold">Welcome back {{ user.username }}!</h1>
  <p class="header text-sky-200 text-2xl font-bold">Ready to turn your poultry into profits? Go to dashboard to get started.</p>
{% else %}
  <h1 class="header text-sky-200 text-5xl font-bold">So what are you waiting for?</h1>
  <p class="header text-sky-200 text-2xl font-bold">Join the 'egg-citing' revolution today and watch your farm 'hatch' success.</p>
{% endif %}

<div class="text-center mt-20 mb-20">
  {% if user.is_authenticated %}
    <a href="#" class="px-6 py-2 bg-sky-700 text-white rounded hover:bg-sky-600 text-xl font-bold" style="padding: 20px 50px;">Dashboard</a>
  {% else %}
  <a href="#" class="px-6 py-2 bg-sky-700 text-white rounded hover:bg-sky-600 text-xl font-bold" style="padding: 20px 50px;">Sign up</a>
  {% endif %}

</div>
<hr style="width: 60%; margin-left: 20%; margin-top: 20px; margin-bottom: 20px;">

{% endblock %}