{% extends "./base.html" %}

{% block title %}Log In{% endblock %}

{% block style %}
html{
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Hide horizontal scrollbar */
    overflow-y: hidden; /* Hide vertical scrollbar */
    perspective: 1px;
    perspective-origin: 50% 50%;
    background: rgb(180,83,9);
    background: linear-gradient(90deg, rgba(180,83,9,1) 13%, rgba(153,27,45,1) 100%);
}

.slider-thumb::before {
    position: absolute;
    content: "";
    left: 20%;
    top: 40%;
    width: 200px;
    height: 200px;
    background: #17141d;
    border-radius: 62% 47% 82% 35% / 45% 45% 80% 66%;
    will-change: border-radius, transform, opacity;
    animation: sliderShape 30s linear infinite;
    display: block;
    z-index: -1;
    -webkit-animation: sliderShape 30s linear infinite;
    transform-origin: center center;
    transform: translateZ(-1px) scale(2);
}

@keyframes sliderShape {
    0%, 100% {
        border-radius: 62% 47% 62% 35% / 45% 45% 70% 66%;
    }
    12.5% {
        border-radius: 40% 30% 46% 54% / 30% 69% 71% 70%;
    }
    25% {
        border-radius: 62% 57% 82% 35% / 65% 45% 70% 66%;
    }
    37.5% {
        border-radius: 20% 70% 60% 54% / 40% 74% 47% 70%;
    }
    50% {
        border-radius: 62% 47% 62% 45% / 45% 45% 50% 66%;
    }
    62.5% {
        border-radius: 70% 34% 46% 54% / 30% 29% 71% 70%;
    }
    75% {
        border-radius: 69% 47% 89% 39% / 30% 55% 70% 66%;
    }
    87.5% {
        border-radius: 70% 38% 49% 54% / 30% 39% 79% 70%;
    }
}

.mainView {
    height: 76vh;
    text-align: center;
    color: white;
    z-index: 1;
}

.mainView h1 {
    margin-top: 40vh;
}

.fullh {
    height: 76vh;
}

.margintop {
    margin-top: 24vh;
}

.mobile {
    display: none;
    opacity: 0;
}

@media only screen and (max-width: 900px) {

    .mainView{
        display: none;
    }
    
    .slider-thumb::before {
        position: absolute;
        content: "";
        left: 40%;
        top: 60%;
        width: 100px;
        height: 100px;
        background: #17141d;
        border-radius: 62% 47% 82% 35% / 45% 45% 80% 66%;
        will-change: border-radius, transform, opacity;
        animation: sliderShape 30s linear infinite;
        display: block;
        z-index: -1;
        -webkit-animation: sliderShape 30s linear infinite;
        transform-origin: center center;
        transform: translateZ(-1px) scale(2);
    }

    .mobile {
        display: block;
        opacity: 1;
        height: 71vh;
    }

}

.g-recaptcha{
    transform:scale(0.9);
    -webkit-transform:scale(0.9);
    transform-origin:0 0;
    -webkit-transform-origin:0 0;
}

@media (max-width: 767px) {
    .g-recaptcha {
      transform: scale(0.8);
      transform-origin: 0 0;
    }
  }

{% endblock %}

{% block content %}

<div class="desktop">
    <div class="slider-thumb"></div>

    <div class="mainView">

        <div class="divide-y-2">
            <div class="flex">
                <div class="w-3/5 text-center text-white margintop">
                </div>
                <div class="w-2/5 text-center bg-slate-950 text-white fullh">
                    <div class="flex mt-8">
                        <div class="w-1/5">

                        </div>
                        <div class="w-3/5">

                            <div class="text-xl mt-16">
                                {% if messages %}
                                <ul class="messages">
                                    {% for message in messages %}
                                        <li class="{% if message.tags == 'success' %}bg-green-100 text-green-600 border-green-500{% elif message.tags == 'error' %}bg-red-100 text-red-600 border-red-500{% endif %} border-l-4 py-2 px-4 my-2">
                                            {{ message }}
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                            {% if form.errors or form.non_field_errors %}
                            <ul class="messages">
                            <li class="bg-red-100 text-red-600 border-red-500 border-l-4 py-2 px-4 my-2">
                            {% for field in form %}
                                {{ field.errors }}
                            {% endfor %}
                            Make sure to active an email!
                            </li>
                        </ul>
                            {% endif %}<br>            



                                <form class="w-full max-w-sm" method="post" action=".">
                                    {% csrf_token %}
                                    <div class="border-b border-teal-500 py-2">
                                        <div class="text-2xl mb-16 font-bold">Log in</div>
                                        {{form.username}}
                                    </div>
                                    <div class="border-b border-teal-500 py-2 mt-16">
                                        {{form.password}}
                                    </div>
                                    <div class="mt-16">
                                      {{ form.captcha }}
                                    </div>
                                    <div class="mt-16">

                                        <button class="bg-teal-500 hover:bg-teal-700 text-white font-bold py-2 px-4 rounded" type="submit">
                                            Sign In
                                        </button>
                                    </div>
                                </form>

                            </div>
                        </div>
                        <div class="w-1/5">
                        </div>
            </div>
        </div>
</div>
</div>

</div>
<div class="mobile">
    <div class="slider-thumb"></div>
    <div class="height">
        <div class="w-3/4 my-6 p-6 mx-auto bg-slate-900 boxsingup rounded-2xl">
            <h1 class="text-2xl text-center font-bold py-4 text-orange-500">Log in</h1>
            <form class="w-full max-w-sm" method="post" action=".">
                {% csrf_token %}
                <div class="border-b border-teal-500 py-2 w-full">
                    {{form.username}}
                </div>
                <div class="border-b border-teal-500 py-2 mt-16">
                    {{form.password}}
                </div>
                <div class="mt-16">
                  {{ form.captcha }}
                </div>
                <div class="mt-16">

                    {% if form.errors or form.non_field_errors %}
                    <div class="text-red-500 font-bold">
                        <p>Something went wrong!</p>
                        {% for field in form %}
                            {{ field.errors }}
                        {% endfor %}
                    </div>
    
                    {{ form.non_field_errors }}
    
                    {% endif %}<br> 
                    <div class="text-center">
                    <button class="bg-teal-500 hover:bg-teal-700 text-white font-bold py-2 px-4 rounded" type="submit">
                        Log in
                    </button>
                    </div>
                </div>
            </form>

    </div>


</div>

{% endblock %}