{% extends "core/base.html" %}

{% block title %}Your employees{% endblock %}

{% block style %}
{% endblock %}

{% block content %}
<div class="mt-6 mb-6 px-6 py-12 bg-gray-100 rounded-xl">

    {% for msg in messages %}
    {% if msg.tags == 'error' %}
    <div class="px-6 py-4 mb-4 text-sm text-center bg-red-300 rounded-xl text-red-600 text-3xl font-bold">
        {{ msg }}
    </div>
    {% endif %}
    {% if msg.tags == 'success' %}
    <div class="px-6 py-4 mb-4 text-sm text-center bg-green-500 rounded-xl opacity-50 text-white-100 text-3xl font-bold">
        {{ msg }}
    </div>
    {% endif %}
    {% endfor %}
    <h1 class="mb-6 text-4xl font-bold text-center text-sky-950">{{ employee.name }} {{ employee.surname }}</h1>
    <div class="flex flex-col items-center justify-center">
        <div class="max-w-md mx-auto bg-white p-4 rounded-lg">
            <div class="mb-4">
                <label for="month">Select Month:</label>
                <select id="month" class="border p-2">
                </select>
                <label for="year">Select Year:</label>
                <select id="year" class="border p-2">
                </select>
            </div>
            <div class="grid grid-cols-8 gap-1">
                <!-- Create the checkboxes for each day -->
            </div>
        </div>
        <div class="hidden" id="all_availability"> {{all_availability}} </div>
        <div class="hidden" id="all_availability_hours"> {{all_availability_hours}} </div>
        <div class="hidden" id="all_unavailability"> {{all_unavailability}} </div>
        <form action="#" method="POST" class="flex flex-col items-center justify-center">
            {% csrf_token %}
            <input type="hidden" name="days" id="checkedDaysInput" value="">
            {{ form.as_p }}
            <button type="submit" class="px-4 py-2 mt-4 text-white bg-sky-950 rounded hover:bg-sky-850">Submit</button>
        </form>
        
    </div>
    </div>
</div>
<script>
    const monthDropdown = document.getElementById('month');
    const yearDropdown = document.getElementById('year');
    const daysGrid = document.querySelector('.grid');
    
    
    // Load checkedDays from local storage if available
    let checkedDays = JSON.parse(localStorage.getItem('checkedDays')) || [];
    
    function populateDropdowns() {
        const months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
        for (let i = 0; i < 12; i++) {
            const option = document.createElement('option');
            option.value = i;
            option.text = months[i];
            monthDropdown.appendChild(option);
        }
        monthDropdown.value = new Date().getMonth();
    
        const currentYear = new Date().getFullYear();
        for (let year = currentYear; year <= currentYear +5; year++) {
            const option = document.createElement('option');
            option.value = year;
            option.text = year;
            yearDropdown.appendChild(option);
        }
    }
    
    function generateCheckboxes() {
        daysGrid.innerHTML = '';
    
        const selectedMonth = monthDropdown.value;
        const selectedYear = yearDropdown.value;
        const daysInMonth = new Date(selectedYear, parseInt(selectedMonth) + 1, 0).getDate();
        let all_availability = document.getElementById('all_availability').innerHTML;
        let all_availability_hours = document.getElementById('all_availability_hours').innerHTML;
        let all_unavailability = document.getElementById('all_unavailability').innerHTML;

    
        for (let day = 1; day <= daysInMonth; day++) {
            const checkbox = document.createElement('input');
            checkbox.type = 'checkbox';
            checkbox.id = `${selectedYear}-${String(parseInt(selectedMonth) + 1).padStart(2, '0')}-${String(day).padStart(2, '0')}`;
            checkbox.value = day;
            if (checkedDays.includes(checkbox.id)) {
                checkbox.checked = true;
            }
    
            const label = document.createElement('label');
            label.htmlFor = `day-${day}`;
            label.textContent = day;

            if (all_availability.includes(checkbox.id)) {
                console.log('green')
                label.classList.add('bg-green-500');
                checkbox.classList.add('accent-green-500');
            }
            if (all_availability_hours.includes(checkbox.id)) {
                console.log('yellow')
                label.classList.add('bg-yellow-500');
                checkbox.classList.add('accent-yellow-500');
            }
            if (all_unavailability.includes(checkbox.id)) {
                console.log('red')
                label.classList.add('bg-red-500');
                checkbox.classList.add('accent-red-500');
            }

    
            daysGrid.appendChild(checkbox);
            daysGrid.appendChild(label);
        }
    }
    
    monthDropdown.addEventListener('change', generateCheckboxes);
    yearDropdown.addEventListener('change', generateCheckboxes);
    daysGrid.addEventListener('change', (e) => {
        if (e.target.matches('input')) {
            if (e.target.checked) {
                checkedDays.push(e.target.id);
                document.getElementById('checkedDaysInput').value = JSON.stringify(checkedDays);
            } else {
                checkedDays = checkedDays.filter(day => day !== e.target.id);
            }
        }
        console.log(checkedDays);
    });


    
    populateDropdowns();
    generateCheckboxes();    
    </script>
{% endblock %}