{% extends "core/base.html" %}

{% block title %}{{ employee.name }} {{ employee.surname }}{% endblock %}

{% block head %}
{% endblock %}


{% block style %}
.green {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #fea
}
{% endblock %}

{% block content %}
<div class="mt-6 mb-6 px-6 py-12 bg-gray-100 rounded-xl">

    {% for msg in messages %}
    {% if msg.tags == 'error' %}
    <div class="px-6 py-2 mb-2 text-sm text-center bg-red-300 rounded-xl text-red-600 text-l font-bold">
        {{ msg }}
    </div>
    {% endif %}
    {% if msg.tags == 'success' %}
    <div class="px-6 py-2 mb-2 text-sm text-center bg-green-500 rounded-xl opacity-50 text-white-100 text-l font-bold">
        {{ msg }}
    </div>
    {% endif %}
    {% if msg.tags == 'info' %}
    <div class="px-6 py-2 mb-2 text-sm text-center bg-yellow-300 rounded-xl opacity-40 text-white-100 text-l font-bold">
        {{ msg }}
    </div>
    {% endif %}
    {% endfor %}
    <h1 class="mb-6 text-4xl font-bold text-center text-sky-950">{{ employee.name }} {{ employee.surname }}</h1>
    <div class="flex flex-col items-center justify-center">
        <div class="flex flex-row items-center justify-center gap-24 mb-6">
        <button class="px-4 py-2 text-white bg-sky-950 rounded hover:bg-sky-850" onclick="previousMonth();"><---</button>
        <button class="px-4 py-2 text-white bg-sky-950 rounded hover:bg-sky-850" onclick="nextMonth();">---></button>
        </div>
        <div class="max-w-md mx-auto bg-white p-4 rounded-lg">
            <div class="mb-4">
                <label for="month">Select Month:</label>
                <select id="month" class="border p-2">
                </select>
                <label for="year">Select Year:</label>
                <select id="year" class="border p-2">
                </select>
            </div>
            <div class="grid grid-cols-7 gap-1">
                <div class="text-center">Mon</div>
                <div class="text-center">Tue</div>
                <div class="text-center">Wed</div>
                <div class="text-center">Thu</div>
                <div class="text-center">Fri</div>
                <div class="text-center">Sat</div>
                <div class="text-center">Sun</div>
            </div>
            <div class="grid grid-cols-7 gap-1" id="days">
                <!-- Create the checkboxes for each day -->
            </div>
        </div>
        <div class="hidden" id="all_availability"> {{all_availability}} </div>
        <div class="hidden" id="all_availability_hours"> {{all_availability_hours}} </div>
        <div class="hidden" id="all_unavailability"> {{all_unavailability}} </div>
        <form action="#" method="POST" class="flex flex-col items-center justify-center">
            {% csrf_token %}
            <input type="hidden" name="days" id="checkedDaysInput" value="">
            {{ form.as_p }}
            <button type="submit" class="px-4 py-2 mt-4 text-white bg-sky-950 rounded hover:bg-sky-850">Submit</button>
        </form>
        
    </div>
    </div>
</div>
<script>
    const monthDropdown = document.getElementById('month');
    const yearDropdown = document.getElementById('year');
    const daysGrid = document.getElementById('days');
    
    
    // Load checkedDays from local storage if available
    let checkedDays = JSON.parse(localStorage.getItem('checkedDays')) || [];
    
    function populateDropdowns() {
        const months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
        for (let i = 0; i < 12; i++) {
            const option = document.createElement('option');
            option.value = i;
            option.text = months[i];
            monthDropdown.appendChild(option);
        }
        monthDropdown.value = new Date().getMonth();
    
        const currentYear = new Date().getFullYear();
        for (let year = currentYear; year <= currentYear +5; year++) {
            const option = document.createElement('option');
            option.value = year;
            option.text = year;
            yearDropdown.appendChild(option);
        }
    }

    function nextMonth() {
        if (monthDropdown.value == 11) {
            monthDropdown.value = 0;
            yearDropdown.value = parseInt(yearDropdown.value) + 1;
        } else {
            monthDropdown.value = parseInt(monthDropdown.value) + 1;
        }
        generateCheckboxes();
    }

    function previousMonth() {
        if (yearDropdown.value == new Date().getFullYear() && monthDropdown.value == 0) {
            return;
        }
        if (monthDropdown.value == 0) {
            monthDropdown.value = 11;
            yearDropdown.value = parseInt(yearDropdown.value) - 1;
        } else {
            monthDropdown.value = parseInt(monthDropdown.value) - 1;
        }
        generateCheckboxes();
    }
    
    function generateCheckboxes() {
        daysGrid.innerHTML = '';
    
        let selectedMonth = monthDropdown.value;
        const selectedYear = yearDropdown.value;
        const daysInMonth = new Date(selectedYear, parseInt(selectedMonth) + 1, 0).getDate();
        let all_availability = document.getElementById('all_availability').innerHTML;
        let all_availability_hours = document.getElementById('all_availability_hours').innerHTML;
        let all_unavailability = document.getElementById('all_unavailability').innerHTML;

        for (let day = 1; day <= daysInMonth; day++) {
            const div = document.createElement('div');
            const checkbox = document.createElement('input');
            checkbox.type = 'checkbox';
            checkbox.id = `${selectedYear}-${String(parseInt(selectedMonth) + 1).padStart(2, '0')}-${String(day).padStart(2, '0')}`;
            checkbox.value = day;
            if (checkedDays.includes(checkbox.id)) {
                checkbox.checked = true;
            }
    
            const label = document.createElement('label');

            div.classList.add('grid', 'grid-cols-1', 'gap-1', 'text-center');
            label.classList.add();
            checkbox.classList.add('h-12', 'w-12', 'rounded', 'text-center', 'text-white', 'text-xl', 'font-bold', 'cursor-pointer');

            label.htmlFor = `day-${day}`;
            label.textContent = day;

            if (all_availability.includes(checkbox.id)) {
                label.classList.add('bg-green-500');
                checkbox.classList.add('accent-green-500');
                checkbox.classList.add('accent-green-500');
            }
            if (all_availability_hours.includes(checkbox.id)) {
                label.classList.add('bg-yellow-500');
                checkbox.classList.add('accent-yellow-500');
            }
            if (all_unavailability.includes(checkbox.id)) {
                label.classList.add('bg-red-500');
                checkbox.classList.add('accent-red-500');
            }
    
            //Create checkbox and label elements inside the div
            div.appendChild(checkbox);
            div.appendChild(label);
            daysGrid.appendChild(div);
        }
    }
    
    monthDropdown.addEventListener('change', generateCheckboxes);
    yearDropdown.addEventListener('change', generateCheckboxes);
    daysGrid.addEventListener('change', (e) => {
        if (e.target.matches('input')) {
            if (e.target.checked) {
                checkedDays.push(e.target.id);
                document.getElementById('checkedDaysInput').value = JSON.stringify(checkedDays);
            } else {
                checkedDays = checkedDays.filter(day => day !== e.target.id);
            }
        }
        console.log(checkedDays);
    });


    
    populateDropdowns();
    generateCheckboxes();    
    </script>
{% endblock %}