{% extends "core/base.html" %}

{% block title %}Organisation{% endblock %}

{% block style %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-red-600 text-3xl">You Are Not In Organisation</h1>
                <div class="grid grid-cols-2 gap-4">
                    <div class="col-span-1">
                        <a href="{% url 'organisation:create' %}" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">
                            Create Organisation
                        </a>
                    </div>
                    <div class="col-span-1">
                        <form action="{% url 'organisation:join' %}" method="POST">
                            {% csrf_token %}
                            <div class="flex flex-row">
                                <input type="text" name="code" class="border-2 border-gray-300 bg-white h-10 px-5 pr-16 rounded-lg text-sm focus:outline-none" placeholder="Organisation Code">
                                <button type="submit" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">
                                    Join Organisation
                                </button>
                            </div>
                    </div>
            </div>
        </div>
    </div>
{% endblock %}